{% extends 'base.html.twig' %}

{% block title %}Page principale{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Cabinet Hermès</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, at aut commodi doloremque laboriosam
            officiis possimus praesentium reiciendis repellendus sequi tempora, voluptates, voluptatibus! Ab aut deleniti earum ex facilis magnam modi nulla, numquam omnis,
            perspiciatis quibusdam rem repellat reprehenderit, sint tenetur unde ut voluptatibus! Deserunt error fugiat officia quaerat.</p>
    </div>


{% endblock %}
